login.css
body
{
    background-color: #dddddd;
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #AFAFAF;  
    margin: 10px; 
}
.login
{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
}